body{
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

h1{
  font-size: 55px;
  /*color: #0097d4;*/
  margin: 35px;
}

#links{
  display: flex;
  flex-direction: row;
}

#links li{
  width: 24px;
  margin: 20px;
}
#links li:hover{
  width: 30px;
  margin: 20px;
}


#app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.app-col{
  width: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #03A9F4;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 315px;
  min-height: 315px;
}

.app-col.maze-container{
  background: white;
  width: 100%;
}

@media(min-width:732px){
  .app-col.maze-container{
    min-width: 500px;
    width: 40%;
  }
  .app-col{
    width: 20%;
  }
  .maze-node{
    width: 10px;
    height: 10px;
  }
  #root{
    min-width: 450px;
    min-height: 450px;
  }
}

#maze-form-container > form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#maze-speed-slider{
  margin: 10px;
}


button:disabled{
  background-color: skyblue;
}


button{
  padding: 15px;
  background-color: #0097d4;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  color: white;
}
button:hover{
  background-color: skyblue;
}


/* Maze CSS */
.maze-node{
  width: 7px;
  height: 7px;
  box-sizing: border-box;
}

.active-node{
  background-color: lightblue;
}

.path-node{
  background-color: red;
}

.current-node{
  background-color: green;
}

.maze-node.north-wall{
  border-top: 1px solid black;
}
.maze-node.south-wall{
  border-bottom: 1px solid black;
}
.maze-node.east-wall{
  border-right: 1px solid black;
}
.maze-node.west-wall{
  border-left: 1px solid black;
}

.maze-grid{
  display: flex;
  flex-direction: column;
}

div[id*="row-"]{
  display: flex;
  flex-direction: row;
}
