body{
  display: flex;
  position:absolute;
  height:auto;
  width: 100vw;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

h1{
  font-size: 55px;
  font-weight: 300;
  margin: 0 10px 10px 0px;
}

h2{
  font-size: 20px;
}

#links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links li{
  width: 24px;
  margin: 20px;
}
#links li:hover{
  width: 30px;
  margin: 20px;
}


#app{
  display: flex;
  flex-direction: column;
}

.app-col{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-col{
  text-align: center;
}

#root{
  display: flex;
  justify-content: center;

}

.app-col.maze-container{
  background: #212529;
  width: 100%;
  color: #d4d8dc;
}

.title{
  position: relative;
  box-sizing: border-box;
}

.modal-button{
  position: absolute;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  font-weight: 700;
  right: 0px;
  top: 0px;
}
.modal-button:hover{
  background-color: gray;
}

#maze-form-container{
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 5px 10px;
  margin-bottom: 10px;
}


#maze-form-container > form{
  display: flex;
  flex-direction: column;
}

#maze-speed-slider{
  margin: 10px;
}


button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}


button{
  padding: 15px;
  border-radius: 3em;
  box-sizing: border-box;
  margin: 10px;
  border: 2px solid lightgray;
}
button:hover{
  opacity: 0.5;
}



#search-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 5px 10px;
}

#timers-container{
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  border: 1px solid lightgray;
  padding: 10px ;
  box-sizing: border-box;
  margin-top: 10px;
  color: black;
  justify-content: center;
}

#timers{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

#timers-container h2{
  margin-right: 20px;
}

div[id*="timer-"]{
  text-align: right;
  margin: 0 8px;
}


/* Maze CSS */

.maze-node{
  width: 8px;
  height: 8px;
  box-sizing: border-box;
}

.active-node{
  background-color: #0097d4;
}

.path-node{
  background-color: red;
}

.current-node{
  background-color: lightgreen;
}

.goal-node{
  background-color: green;
}

.maze-node.north-wall{
  border-top: 1px solid black;
}
.maze-node.south-wall{
  border-bottom: 1px solid black;
}
.maze-node.east-wall{
  border-right: 1px solid black;
}
.maze-node.west-wall{
  border-left: 1px solid black;
}

.maze-grid{
  display: flex;
  flex-direction: column;
  background-color: white;
}

div[id*="row-"]{
  display: flex;
  flex-direction: row;
}


@media (max-width: 891px){
  .form-col{
    text-align: center;
  }
  #links{
    justify-content: center;
  }
}

@media(min-width:892px) and (max-width: 1247px){

  #app{
    flex-direction: row;
  }

  .maze-node{
    width: 10px;
    height: 10px;
  }

  .form-col{
    margin-left: 30px;
  }

}

@media(min-width:1248px){

  #app{
    flex-direction: row;
  }

  #maze-form-container{
    padding: 10px 20px;
  }

  #search-buttons{
    padding: 10px 20px;
  }

  .form-col{
    margin-left: 40px;
  }

  .maze-node{
    width: 14px;
    height: 14px;
  }


}
