body{
  display: flex;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

h1{
  font-size: 55px;
  font-weight: 300;
  margin: 0 10px 10px 0px;
}

h2{
  font-size: 20px;
}

#links{
  display: flex;
  flex-direction: row;
}

#links li{
  width: 24px;
  margin: 20px;
}
#links li:hover{
  width: 30px;
  margin: 20px;
}


#app{
  display: flex;
  flex-direction: column;
}

.app-col{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-col{
  margin-left: 9px;
}

#root{
  display: flex;
  justify-content: center;

}

.app-col.maze-container{
  background: #212529;
  width: 100%;
  color: #d4d8dc;
}



#maze-form-container > form{
  display: flex;
  flex-direction: column;
}

#maze-speed-slider{
  margin: 10px;
}


button:disabled{
  background-color: skyblue;
}


button{
  padding: 15px;
  background-color: #0097d4;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  color: #e2e8ef;
}
button:hover{
  background-color: skyblue;
}


/* Maze CSS */

.maze-node{
  width: 8px;
  height: 8px;
  box-sizing: border-box;
}

.active-node{
  background-color: #0097d4;
}

.path-node{
  background-color: red;
}

.current-node{
  background-color: green;
}

.maze-node.north-wall{
  border-top: 1px solid black;
}
.maze-node.south-wall{
  border-bottom: 1px solid black;
}
.maze-node.east-wall{
  border-right: 1px solid black;
}
.maze-node.west-wall{
  border-left: 1px solid black;
}

.maze-grid{
  display: flex;
  flex-direction: column;
  background-color: white;
}

div[id*="row-"]{
  display: flex;
  flex-direction: row;
}


#search-buttons{
  display: flex;
  flex-direction: column;
}

#timers-container{
  display: flex;
  flex-direction: row;
  background-color: #d4d8dc;
  border-radius: 7px;
  padding: 10px ;
  box-sizing: border-box;
  margin: 5px;
  color: black;
  justify-content: center;
}
#timers-container h2{
  margin-right: 20px;
}

div[id*="timer-"]{
  text-align: right;
  margin: 0 8px;
}




@media(min-width:892px) and (max-width: 1247px){

  #app{
    flex-direction: row;
  }

  .maze-node{
    width: 10px;
    height: 10px;
  }
  #timers-container{
    display: flex;
    flex-direction: column!important;
    max-width: 120px;
  }
}

@media(min-width:1248px){

  #app{
    flex-direction: row;
  }

  .maze-node{
    width: 14px;
    height: 14px;
  }
  #timers-container{
    display: flex;
    flex-direction: column!important;
    max-width: 120px;
  }
}
